*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto.ttf);
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Robotobold.ttf);
    font-weight: bold;
}
body{
    font-family: Roboto, sans-serif;
}

/*шапочка*/
.header{
    border-bottom: 1px solid #E5E5E5;
    padding: 25px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}
@media (max-width: 1200px) {
    .menu {
     margin-left: 100px;
    }

    .menu-item {
     margin-right: 50px;
    }
}

@media  (max-width: 992px) {
    .logo {
     margin-bottom: 20px;

    }

    .menu {
     flex-direction: column;
     align-items: center;
     margin-left: 0;
     margin-top: 20px;
    }

    .menu-item {
     margin-right: 0;
     margin-bottom: 20px;
    }
}


@media  (max-width: 992px) {
    .main-info {
     max-width: 100%;
     text-align: center;
    }

    .main-title {
     font-size: 40px;
     margin-bottom: 20px;
     text-align: center;
    }

    .main-text {
     max-width: 100%;
     text-align: center;
     margin: 0 auto;
    }

    .button {
     width: 100%;
     margin: 0 auto;
    }
    .sub-title{
        max-width: 100%;
     text-align: center;
    }
    .price-text{
        max-width: 100%;
        text-align: center;
    }
}


@media  (max-width: 1200px) {
    .car-items {
     flex-wrap: nowrap;
    }

    .car-item {
     margin-right: 20px;
    }
}

@media  (max-width: 992px) {
    .car-items {
     flex-direction: column;
     align-items: center;
    }

    .car-item {
     margin-right: 0;
     margin-bottom: 20px;
    }
}


@media  (max-width: 992px) {
    .price-form {
     max-width: 100%;
     margin: 0 auto;
    }

    .price-input {
     width: 100%;
     
    }

    .price .button {
     width: 100%;
    }
    .price-image{
        display: none;
    }
}


@media (max-width: 992px) {
    .footer .container {
      align-items: center;
     flex-direction: column;
    
    }

    .rights {
     margin-top: 15px;
    }
}
@media(max-width:992px){
    .menu__wrapper{
        flex-wrap: wrap;
    }
    .header .logo{
        order: -1;
        width: 100%;
    }
    
}
@media(max-width:768px){
    .header .logo{
        order: -1;
        width: 70%;
    }
}
@media(max-width:600px)
{
    .menu{
        display: none;
        width: 100%;
    }
    .navbar-toggler{
        display:block!important;
    }
    .main-menulist{
        flex-direction: column!important;
      
    }
}
.show{
    display: block;
}
.navbar-toggler{
    display: none;
}
.header .container{
    display: flex;
    align-items: center;
}
.logo img{
    vertical-align: bottom;
}
.menu{
    margin-left: 244px;
}
.menu ul{
    list-style: none;
    display: flex;

}
.menu-item{
    margin-right: 115px;
}
.menu-item a{
    font-size: 15px;
    color: #030305;
    text-decoration: none;
}
.menu-item a:hover{
    border-bottom: 2px solid black;
}
.car-item-info{
    display: flex;
    flex-direction: row;
}
/*Первая секция*/
.main{
    background-image: url(../img/background.png);
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
}
.main-info{
    max-width: 855px;
}
.main-title{
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #030305;
    margin-bottom: 40px;
}
.main-text{
    font-size: 16px;
    line-height: 130%;
    color: #030305;
    max-width: 502px;
    margin-bottom: 40px;
}
.button{
    padding: 20px;
    width: 334px;
    height: 64px;
    background-color: #030305;
    border: 0;
    box-sizing: border-box; /*чтобы отступы входили в размер кнопки*/
    
    
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color 0.5s;/*чтобы цвет плавно менялся через 0.5 секунд*/

}
.button:hover{
    background: #575757;
    cursor: pointer;/*курсор менялся при наведении*/
}
/*вторая секция*/
.car{
    padding: 100px 0;
}
.sub-title{
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #030305;
}
.car-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.car-item{
    max-width:384px;
    text-align: center;
   
    margin-top: 40px;


}
.car-item-image:hover img{
transform: scale(1.1);
}
.car-item img{
    vertical-align: bottom;
    transition: all .4s;
}
.car-item-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 33px;
    padding-right: 33px;

}
.car-item-title{
    font-weight: bold;
    font-size:24px ;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #030305;
    padding: 15px 0 17px 0;
}
.car-item-action{
    margin-top: 13px;
}
.car-item-action .button{
    width: 100%;
    padding: 15px;
    height: 54px;
}
/*третья секция*/
.price{
    overflow: hidden;/*чтобы часть картинки скрывалась если она не помещается*/
}
.price .container{
    position: relative;/*чтобы смещать картинку относительно контейнера*/
    padding-bottom: 121px;
}
.price .sub-title{
    margin-bottom: 20px;
}
.price-text{
    font-size: 16px;
    line-height: 130%;
    color: #5D5D5F;
    margin-bottom: 60px;
}
.price-form{
    max-width: 344px;
}
.price-input{
    padding: 22px 18px;
    width: 344px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #5D5D5F;
    box-sizing: border-box;
    font-size: 16px;
    color: #000000;
    outline: none;
    margin-bottom: 15px;
}
.price-input::placeholder{
    color: #5D5D5F;
}
.price .button{
    width: 100%;
}
.price-image{
    position: absolute;
    left: 401px;
    bottom: 0px;
}
/*подвал*/
.footer{
    border-top: 1px solid #E5E5E5;
    padding: 25px 0;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rights{
    font-size: 15px;
    color: #030305;
}